@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(153deg, #0000004a, #2674ad42);
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px 54px 0px 27px;

}
.logo{
    cursor: pointer;
    border-radius: 50%;
    opacity: 70%;
    transition: 500ms;
}
.logo:hover{
    opacity: 100%;
}
.navlinks {
    list-style: none;    
}
.navlinks li, a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: all 500ms;
    font-weight: 1000;
    text-decoration: none;
}
.navlinks li, a:hover {
    color: #000000;
    transform: scale(1.05);
    opacity: 1.01;
}
a:hover{
    text-decoration: none;
}
.minilogs {
    padding: 0px 0px 0px 10px;
}
body{
    background: url(/assets/backgrounds/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}